* {
    margin: 0;
    padding: 0;
}

section {
    background-color: rgb(75, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    height: 400px;
    width: 95vw;
    flex-wrap: nowrap;
}
.imgbox{
    height: 100%;
    display: flex;
    align-items: end;
    padding: 10px;
    border-radius: 20px;
    color: rgb(43, 206, 18);
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: flex 0.8s ease-in-out;
    flex: 0.5;

}
/* .imgbox:hover{
    flex: 5;
} */
.inactive {
    flex: 0.5;
}

.active {
    flex: 5;
}

.col .imgbox h3 {
    opacity: 0;
    transition: all 0.8s ease-in-out;
    margin-bottom: 30px;
    /* margin-left: 30px; */
}

.col .active h3 {
    opacity: 1;
    margin-left: 30px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .col {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100vh;
    }
    .imgbox{
        width: 80%;
        flex: 0.5;
    }
    .col .imgbox h3 {
        margin-bottom: 20px;
    }
}
